{% load sorl_thumbnail %}
{% load i18n %}
{% if recent_products %}
<div class="recentview">
<h3>{% trans 'Recently Viewed' %}</h3>
{% for item in recent_products %}
<a href="{{ item.get_absolute_url }}" class="recentitem item-{{forloop.counter0}}">
    {% thumbnail item.main_image.picture "85x85" as image %}
    <img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" alt="{{ item.translated_name }}" />
    {% endthumbnail %}
    <span style="display:block">{{ item.translated_name }}</span>
</a>
{% endfor %}
</div>
{% endif %}
